kind: Service
apiVersion: v1
metadata:
  name: nginx-service
spec:
  type: NodePort 
  selector:
    app: nginx
  ports:
    - port:  80
      targetPort: 80
      nodePort: 30100
      protocol: TCP
